<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Update Form</title>
  <link rel="stylesheet" href="/css/updateStudent.css"/>
  <!-- <script src="/js/addStudentForm.js"></script> -->
  <script src="/js/updateStudent.js"></script>
</head>

<body>
  <!-- Top Navigation Bar -->
  <%- include('adminNav.ejs') %>

  <!-- Main Grid Container -->
  <div class="Fcontiner">
    <!-- Sidebar -->
    <div class="fSidebar">
      <%- include('adminSidebar.ejs') %>
    </div>

    <!-- Main Content Area -->
    <div class="fMainContent">
      <div class="form-wrapper">
        <h2 class="form-heading">Update Student Data</h2>
        <form action="/afterUpdateStud" method="post" class="student-form">

          <input type="hidden" name="student_id" value="<%= stud[0].id %>" />
          <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" id="fullName" name="student_name" value="<%= stud[0].name %>"  required />
              <span id="fullNameError" class="error-msg"></span>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="student_email" value="<%= stud[0].email %>" required />
              <span id="emailError" class="error-msg"></span>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="student_password" value="<%= stud[0].password %>" required />
              <span id="passwordError" class="error-msg"></span>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" name="confirm_password" value="<%= stud[0].password %>" required />
              <span id="confirmPasswordError" class="error-msg"></span>
            </div>

          <button type="submit" class="submit-btn">Submit</button>
          
           <% if (msg) { %>
              <span class="<%= status === 'success' ? 'success-msg' : 'error-msg' %>">
                <%= msg %>
              </span>
              <% } %>
              
        </form>
      </div>
    </div>
  </div>
</body>

</html>
